.product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2rem;
    width: 90%;
    margin: 0.5rem 0;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}