.navbar{
    background-color: #333;
    color: #fff;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar select{
    height: 2rem;
    width: 5rem;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.navbar select option{
    height: 2rem;
}
.navbar ul{
    display: flex;
    justify-content: right;
    align-items: center;
}
.navbar li{
    list-style: none;
    margin: 0 1rem;
}
.navbar li a{
    text-decoration: none;
    color: #fff;
}